<h1>Create a New Figure</h1>

<form action="/figures" method="POST">

    <label for="figure_name">Name:</label>
        <input type="text" id="figure_name" name="figure[name]">

    <h3>Titles</h3>

    <label for="figure_title"><h3>Create New Title:</h3></label>
        <input type="text" id="figure_title" name="figure[titles][]">
    
    <h3>Landmarks</h3>

    <label for="landmark">Landmark:</label>
        <input type="text" id="landmark" name="figure[landmarks][0]"><br>
        <input type="submit" value="Submit">

</form>